In [2]:
import numpy as np
import matplotlib.pyplot as plt 
import pandas as pd

In [8]:
df=pd.read_csv("..\data\card_credit_fraud_Classification project Final.csv_sans_guillemets.csv", sep=";", decimal=",")
df.set_index("transactionId", inplace=True)
df

<>:1: SyntaxWarning: invalid escape sequence '\d'
<>:1: SyntaxWarning: invalid escape sequence '\d'
C:\Users\samya.taqi\AppData\Local\Temp\ipykernel_16952\3238071395.py:1: SyntaxWarning: invalid escape sequence '\d'
  df=pd.read_csv("..\data\card_credit_fraud_Classification project Final.csv_sans_guillemets.csv", sep=";", decimal=",")

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
transactionId,,,,,,,,,,
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0
...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1

In [9]:
df["type"].value_counts()

type
CASH_OUT    366632
PAYMENT     329867
CASH_IN     218938
TRANSFER     86301
DEBIT         6475
Name: count, dtype: int64

In [10]:
df.shape

(1008213, 10)

In [11]:
df["isFraud"].value_counts()

isFraud
0    1000000
1       8213
Name: count, dtype: int64

In [ ]:
data=df.drop(axis=0, labels=df[df["type"].isin(["PAYMENT","CASH_IN","DEBIT"])].index)
data["isFraud"].value_counts()

data.info()
print(data["type"].value_counts())
print(data["isFraud"].value_counts())

<class 'pandas.DataFrame'>
Index: 452933 entries, 2 to 6362619
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   step            452933 non-null  int64
 1   type            452933 non-null  str
 2   amount          452933 non-null  float64
 3   nameOrig        452933 non-null  str
 4   oldbalanceOrg   452933 non-null  float64
 5   newbalanceOrig  452933 non-null  float64
 6   nameDest        452933 non-null  str
 7   oldbalanceDest  452933 non-null  float64
 8   newbalanceDest  452933 non-null  float64
 9   isFraud         452933 non-null  int64
dtypes: float64(5), int64(2), str(3)
memory usage: 38.0 MB
type
CASH_OUT    366632
TRANSFER     86301
Name: count, dtype: int64
isFraud
0    444720
1      8213
Name: count, dtype: int64

In [13]:
df.nunique

<bound method DataFrame.nunique of                step      type      amount     nameOrig  oldbalanceOrg  \
transactionId
0                 1   PAYMENT     9839.64  C1231006815      170136.00
1                 1   PAYMENT     1864.28  C1666544295       21249.00
2                 1  TRANSFER      181.00  C1305486145         181.00
3                 1  CASH_OUT      181.00   C840083671         181.00
4                 1   PAYMENT    11668.14  C2048537720       41554.00
...             ...       ...         ...          ...            ...
6362615         743  CASH_OUT   339682.13   C786484425      339682.13
6362616         743  TRANSFER  6311409.28  C1529008245     6311409.28
6362617         743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362618         743  TRANSFER   850002.52  C1685995037      850002.52
6362619         743  CASH_OUT   850002.52  C1280323807      850002.52

               newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  \
transactionId
0                   160296.36  M1979787155            0.00            0.00
1                    19384.72  M2044282225            0.00            0.00
2                        0.00   C553264065            0.00            0.00
3                        0.00    C38997010        21182.00            0.00
4                    29885.86  M1230701703            0.00            0.00
...                       ...          ...             ...             ...
6362615                  0.00   C776919290            0.00       339682.13
6362616                  0.00  C1881841831            0.00            0.00
6362617                  0.00  C1365125890        68488.84      6379898.11
6362618                  0.00  C2080388513            0.00            0.00
6362619                  0.00   C873221189      6510099.11      7360101.63

               isFraud
transactionId
0                    0
1                    0
2                    1
3                    1
4                    0
...                ...
6362615              1
6362616              1
6362617              1
6362618              1
6362619              1

[1008213 rows x 10 columns]>